---
layout: default
title : Group
navbar_title: Group
---
{% assign group = site.data.group %}

<!-- Principal Investigator -->
<div class="card border-0 shadow-sm bg-white mt-3">
    <div class="card-body p-4">
        <h6 class="mb-3"><i class="fas fa-user-tie"></i> Principal Investigator</h6>
        <div class="media">
            {% if site.data.profile.portrait_url %}
            <img src="{{ site.data.profile.portrait_url | relative_url }}" alt="{{ site.data.profile.primary_name }}" class="rounded-circle mr-4" style="width: 96px; height: 96px; object-fit: cover;">
            {% endif %}
            <div class="media-body">
                <div class="h4 font-weight-normal mb-1"><a class="text-body" href="{{ '/' | relative_url }}">{{ site.data.profile.primary_name }}</a></div>
                <div class="text-profile-position">
                    {% for position in site.data.profile.positions %}
                    {% if position.logo -%}
                    <img src="{{ position.logo | relative_url }}" alt="Logo" class="inline-badge"/>
                    {%- endif %}
                    {{ position.name }}<br/>
                    {% endfor %}
                </div>
                <a href="mailto:{{ site.data.profile.email | encode_email }}"><i class="fas fa-at"></i> <span class="email-text">{{ site.data.profile.email | replace: "@", "(at)" }}</span></a>
            </div>
        </div>
    </div>
</div>

<!-- Current members -->
{% if group.current %}
<div class="my-3 bg-white shadow-sm rounded-xl">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-users"></i> Current Students</h6>
    <div class="row no-gutters p-2">
        {% for member in group.current %}
        {% include widgets/group_member.html member=member %}
        {% endfor %}
    </div>
</div>
{% endif %}

<!-- Alumni -->
{% if group.alumni %}
<div class="my-3 bg-white shadow-sm rounded-xl">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-graduation-cap"></i> Alumni</h6>
    <div class="row no-gutters p-2">
        {% for member in group.alumni %}
        {% include widgets/group_member.html member=member %}
        {% endfor %}
    </div>
</div>
{% endif %}
