{% assign member = include.member %}
<div class="col-lg-4 col-md-6 p-2">
    <div class="media group-member p-2 h-100">
        {% if member.photo %}
        <img src="{{ member.photo | relative_url }}" alt="{{ member.name }}" class="rounded-circle mr-3 group-avatar">
        {% else %}
        {% assign words = member.name | split: " " %}
        <div class="rounded-circle mr-3 group-avatar group-initials">{{ words.first | slice: 0 }}{{ words.last | slice: 0 }}</div>
        {% endif %}
        <div class="media-body">
            <div class="font-weight-bold">{{ member.name }}</div>
            <div>{{ member.program }}</div>
            <div class="text-muted">
                {% if member.logo -%}
                <img src="{{ member.logo | relative_url }}" alt="Logo" class="inline-badge"/>
                {%- endif %}
                {{ member.institution }}
            </div>
            {% if member.year %}<div class="text-muted"><i>{{ member.year }}</i></div>{% endif %}
            {% if member.note %}<div class="text-muted"><i>{{ member.note }}</i></div>{% endif %}
        </div>
    </div>
</div>
